* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('../img/geometry2.png');
    font-family: sans-serif;
    font-size: 20px;
}

div, main, ul {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    /*height: 100px;*/
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    padding: 50px 0;
    text-align: center;
}

.score-menu {
    width: 85%;
    height: 50px;
    max-width: 650px;
    margin: 0 auto;
}

.score-menu ul {
    width: 100%;
}

.score-menu ul li {
    list-style: none;
    display: inline;
}

.stars {
    float: left;
    width: 20%;
}

.moves {
    float: left;
    width: 25%;
    padding-left: 10px;
}

.timer {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 10px;
}

.restart {
    float: right;
    cursor: pointer;
}

main {
    max-width: 95vw;
    max-height: 95vw;
    width: 680px;
    height: 680px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

main ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 1.5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icons {
    flex-basis: 20%;
    height: 20%;
    background: #2e3d49;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }
    12.5% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(-10px);
    }
    37.5% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    62.5% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    87.5% {
        transform: translateX(10px);
    }
    100% {
        transform: initial;
    }

}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(-10px);
    }
    12.5% {
        -webkit-transform: translateX(10px);
    }
    25% {
        -webkit-transform: translateX(-10px);
    }
    37.5% {
        -webkit-transform: translateX(10px);
    }
    50% {
        -webkit-transform: translateX(-10px);
    }
    62.5% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-10px);
    }
    87.5% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: initial;
    }

}

@keyframes confirm {
    0% {
        transform: rotate(-10deg) scale(0.9, 0.9);
    }
    20% {
        transform: rotate(-10deg) scale(0.9, 0.9);
    }

    30% {
        transform: rotate(-10deg) scale(0.9, 0.9);
    }
    40% {
        transform: rotate(5deg) scale(1.15, 1.15);
    }
    50% {
        transform: rotate(-5deg) scale(1.15, 1.15);
    }
    60% {
        transform: rotate(5deg) scale(1.15, 1.15);
    }
    70% {
        transform: rotate(-5deg) scale(1.15, 1.15);
    }
    80% {
        transform: rotate(5deg) scale(1.15, 1.15);
    }
    90% {
        transform: rotate(-5deg) scale(1.15, 1.15);
    }
    100% {
        transform: initial;
    }

}

@-webkit-keyframes confirm {
    0% {
        -webkit-transform: rotate(-10deg) scale(0.9, 0.9);
    }
    20% {
        -webkit-transform: rotate(-10deg) scale(0.9, 0.9);
    }

    30% {
        -webkit-transform: rotate(-10deg) scale(0.9, 0.9);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1.15, 1.15);
    }
    50% {
        -webkit-transform: rotate(-5deg) scale(1.15, 1.15);
    }
    60% {
        -webkit-transform: rotate(5deg) scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: rotate(-5deg) scale(1.15, 1.15);
    }
    80% {
        -webkit-transform: rotate(5deg) scale(1.15, 1.15);
    }
    90% {
        -webkit-transform: rotate(-5deg) scale(1.15, 1.15);
    }
    100% {
        -webkit-transform: initial;
    }

}


@media screen and (max-width: 568px) {

    main ul {
        padding: 0.5em;
    }

    .icons {
        flex-basis: 22%;
        height: 22%;
        margin: 5px;
    }
}

@media screen and (max-width: 568px) {
    body {
        font-size: 15px;
    }
}
